<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	{% load i18n %}
    <title>{% translate 'Sport Complex' %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
	  <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}" >
  </head>
  <body>
    <ul class="sidebar-nav">
        <header class="p-3 mb-3 border-bottom">
          <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
              <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
              </a>
      
              <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 link-secondary">{% translate "Home" %}</a></li>
                <li><a href="#" class="nav-link px-2 link-dark">{% translate "link2" %}</a></li>
                <li><a href="#" class="nav-link px-2 link-dark">{% translate "link3" %}</a></li>
              </ul>
              {% if user.is_authenticated %}
              <div class="dropdown text-end">
                <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                  {% if user.avatar %}
                    <img src="{{user.avatar.url}}" alt="avatar" class="rounded-circle" width="32" height="32">
                  {% else %}
                    <img src="{% static 'images/default_avatar.jpg' %}" alt="avatar" class="rounded-circle" width="32" height="32">
                  {% endif %}
                </a>
                <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                  <li><a class="dropdown-item" href="profile">{% translate "Profile" %}</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="{% url 'application:logout'%}?next={{request.path}}">{% translate "Sign out" %}</a></li>
                </ul>
              </div>
              {% else %}
                <div class="col-md-3 text-end">
                  <a href="{% url 'application:login'%}?next={{request.path}}">{% translate "Login" %}</a>
                </div>
              {% endif %}
            </div>
          </div>
        </header>
    </ul>
    {% block bodyblock %}
	  {% endblock %}
    <footer class="text-light mt-3">
      <div class="container">
        <div class="row">
          <div class="col text-center">
            <div class="phone p-3">Телефон: +7 (800) 900-10-20</div>
          </div>
          <div class="col-6 text-center">
            <div class="address p-3">Адрес: г. Санкт-Петербург, Большая Морская ул., д. 67</div>
          </div>
          <div class="col text-center">
            <div class="email p-3">E-mail: sportcomplex@gmail.com</div>
          </div>
        </div>
      </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>