{% extends "base_template.html" %}
{% load static %}
{% load i18n %}
{% block bodyblock %}
    <div class="row my-3 p-3">
        <h1>{% translate "This is the profile page for" %} {{user.username}}</h1>
    </div>
    <img src="{{user.avatar.url}}"  width="100px" max-width="100px" max-height="100px" alt="Profile pic">
    <div class="row my-1 p-1">
        <p class="text-start">{% translate "First name" %}: {{user.user_first_name}}</p>
    </div>
    <div class="row my-1 p-1">
        <p class="text-start">{% translate "Last name" %}: {{user.user_last_name}}</p>
    </div>
    {% if user.pantronymic %}
        <div class="row my-1 p-1">
            <p class="text-start">{% translate "Pantronymic" %}: {{user.pantrnymic}}</p>
        </div>
    {% endif %}
    <div class="row my-1 p-1">
        <p class="text-start">{% translate "Gender" %}: {{user.user_gender}}</p>
    </div>
    <div class="row my-1 p-1">
        <p class="text-start">{% translate "E-mail" %}: {{user.user_email}}</p>
    </div>
    <div class="row my-1 p-1">
        <p class="text-start">{% translate "Phone number" %}: {{user.user_phone}}</p>
    </div>
    <div class="row my-1 p-1">
        <p class="text-start">{% translate "Joined" %}: {{user.date_joined}}</p>
    </div>


{% endblock bodyblock %}