{% extends "base_template.html" %}
{% block bodyblock %}
{% load static %}
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <!-- Left Container -->
          <h2>Теория струн(физика)</h2>
          <p>Теория струн — направление теоретической физики, изучающее динамику взаимодействия объектов 
            не как точечных частиц, а как одномерных протяжённых объектов, так называемых квантовых струн. 
            Теория струн сочетает в себе идеи квантовой механики и теории относительности, поэтому на её основе, 
            возможно, будет построена будущая теория квантовой гравитации.</p>
        </div>
        <div class="col-md-4">
          <p> 
            &emsp; Теория струн — направление теоретической физики, изучающее динамику взаимодействия 
            объектов не как точечных частиц, а как одномерных протяжённых объектов, 
            так называемых квантовых струн. Теория струн сочетает в себе идеи квантовой механики и 
            теории относительности, поэтому на её основе, возможно, будет построена будущая теория 
            квантовой гравитации.  <br>
          </p>
          <img src="{% static 'string_theory.png' %}" class="img-fluid" alt="Уровни строения мира." title="Уровни строения мира:
            1. Макроскопический уровень — вещество
            2. Молекулярный уровень
            3. Атомный уровень — протоны, нейтроны и электроны
            4. Субатомный уровень — электрон
            5. Субатомный уровень — кварки
            6. Струнный уровень" style="max-width: 50%;"/>
		      <p> 
            &emsp; Теория струн основана на гипотезе о том, что все элементарные частицы и их фундаментальные 
            взаимодействия возникают в результате колебаний и взаимодействий ультрамикроскопических квантовых 
            струн на масштабах порядка планковской длины 10-35 м. Данный подход, с одной стороны, 
            позволяет избежать таких трудностей квантовой теории поля, как перенормировка, 
            а с другой стороны, приводит к более глубокому взгляду на структуру материи и пространства-времени. <br>
            
            &emsp; Квантовая теория струн возникла в начале 1970-х годов в результате осмысления формул Габриэле Венециано, 
            связанных со струнными моделями строения адронов. Середина 1980-х и середина 1990-х ознаменовались 
            бурным развитием теории струн, ожидалось, что в ближайшее время на основе теории струн будет сформулирована 
            так называемая «единая теория», или «теория всего», поискам которой Эйнштейн безуспешно посвятил десятилетия. 
            Но, несмотря на математическую строгость и целостность теории, пока не найдены варианты экспериментального 
            подтверждения теории струн. Возникшая для описания адронной физики, но не вполне подошедшая для этого, 
            теория оказалась своего рода экспериментом в вакууме. 

            &emsp; Среди многих свойств теории струн особенно важны три нижеследующие: <br>
            1. Гравитация и квантовая механика являются неотъемлемыми принципами устройства Вселенной, 
            и поэтому любой проект единой теории обязан включать и то, и другое. 
            В теории струн это реализуется. <br>
            2. Исследования на протяжении XX века показали, что существуют и другие ключевые концепции, — 
            многие из которых были проверены экспериментально, — являющиеся центральными для нашего понимания 
            Вселенной. В их числе — спин, существование поколений частиц материи и частиц-переносчиков 
            взаимодействия, калибровочная симметрия, принцип эквивалентности, нарушение симметрии и 
            суперсимметрия. Всё это естественным образом вытекает из теории струн. <br>
            3. В отличие от более общепринятых теорий, таких, как стандартная модель с её 19 
            свободными параметрами, которые могут подгоняться для обеспечения согласия с экспериментом, 
            в теории струн свободных параметров нет. <br>
            </p>
		    </div>
        <div class="col-md-4">
          <h2>Проблемы</h2>
            <p>
            <ul>
              <li><i>Возможность критического эксперимента.</i><br>
              Теория струн нуждается в экспериментальной проверке, однако ни один из вариантов 
                теории не даёт однозначных предсказаний.</li>

              <li><i>Опровержимость и проблема ландшафта.</i><br>
            В 2003 году выяснилось, что существует множество способов свести 10-мерные суперструнные 
            теории к 4-мерной эффективной теории поля.</li>

            <li><i>Вычислительные проблемы.</i> <br>
            С математической точки зрения ещё одна проблема состоит в том, что, 
            как и квантовая теория поля, большая часть теории струн всё ещё 
            формулируется пертурбативно (в терминах теории возмущений). </li>

            <li><i>Проблема масштаба «зернистости» пространства.</i><br>
            В результате экспериментов по обнаружению «зернистости» (степени квантования) 
            пространства, выяснилось, что в излучении гамма-всплеска 
            GRB041219A, зернистость пространства не проявляется вплоть до размеров 10<sup>-48</sup> м, что в 1014 
            раз меньше планковской длины.</li>
          </ul>
          </p>
        </div>
      </div>
    </div>

    <div class="container"> 
      <div class="row">
        <div class="col-md-4 mx-auto">
          <div class="card" style="width: 18rem;">
            <img src="{% static 'card-image.png' %}" class="card-img-top" alt="Card Image">
            <div class="card-body">
              <h5 class="card-title" style="color:brown;">Студенты в шоке!</h5>
              <p class="card-text">Для успешного закрытия сессии поможет простой советский копеечный...</p>
              <a href="buff.html" class="btn btn-primary" style="color: white;">Читать далее...</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 text-center">
          <button type="button" class="btn btn-success glitch-button">Не нажимать!</button>

        </div>
        <div class="col-md-4">
          
        </div>
      </div>
    </div>

    <footer class="bg-dark text-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="phone">Телефон: +7 (800) 900 - 10 - 20</div>
          </div>
          <div class="col-lg-6">
            <div class="address">Адрес: г. Санкт-Петербург, Большая Морская ул., д. 67</div>
          </div>
        </div>
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
{% endblock %}
