{% extends "base_template.html" %}
{% block bodyblock %}
{% load i18n %}
<h1 style="padding-left: 15rem;">{% translate "Accounts of clients" %}</h1>

{% load user_tags %}


{% if user.is_authenticated and request.user|has_group:"admin" %}
<div>
    <button class="btn btn-success" data-bs-toggle='modal' data-bs-target='#exampleModal' onclick="openInsertClient()">{% translate "New" %}</button><br>
    <table class="table table-bordered table-striped" id="clients">
        <thead>
            <tr>
                <th>#</th>
                <th>{% translate "Login" %}</th>
                <th>{% translate "Name" %}</th>
                <th>{% translate "Gender" %}</th>
                <th>{% translate "Email" %}</th>
                <th>{% translate "Phone" %}</th>
                <th>{% translate "Action" %}</th>
            </tr>
        </thead>
        <tbody>
    {% for account_item in accounts_serializer %}
        <tr>
            <td>{{account_item.user_id}}</td>
            <td>{{account_item.username}}</td>
            <td>{{ account_item.user_first_name }} {{ account_item.user_last_name }} 
                {% if account_item.user_patronymic %}
                {{ account_item.user_patronymic }}
                {% endif %}
            </td>
            <td>{{account_item.user_gender_name}}</td>
            <td>{{ account_item.user_email }}</td>
            <td>{{ account_item.user_phone }}</td>
            <td>
                <button class="btn btn-primary m-2" data-bs-toggle='modal' data-bs-target='#exampleModal' onclick="openChangeClient({{account_item.user_id}})" style="float: left;">
                    {% translate "Change" %}
                </button>
                <form class="m-2" action="/accounts/delete" method="post" style="float: left;">
                    {% csrf_token %}
                    <input type="hidden" name="user_id" value="{{account_item.user_id}}">
                    <button class="btn btn-danger" type="submit">
                        {% translate "Delete" %}
                    </button>
                </form>
            </td>
        </tr>
            
    {% endfor %} 
    </tbody>
    </table>  
</div>
<hr>
<div>
    <button class="btn btn-success" data-bs-toggle='modal' data-bs-target='#exampleModal' onclick="openInsertAbonement()">{% translate "New" %}</button><br>
    <table class="table table-bordered table-striped" id="abonements">
        <thead>
            <tr>
                <th>#</th>
                <th>{% translate "Type" %}</th>
                <th>{% translate "Period" %}</th>
                <th>{% translate "Owner id" %}</th>
                <th>{% translate "Action" %}</th>
            </tr>
        </thead>
        <tbody>
    {% for abonement_item in abonements_list %}
            <tr>
                <td>{{abonement_item.abonement_id}}</td>
                <td>{{abonement_item.abonement_type}}</td>
                <td>{{abonement_item.opened|date:'Y-m-d'}} - {{ abonement_item.expires|date:'Y-m-d' }}</td>
                <td>{{abonement_item.client.user_id }}</td>
                <td>
                    <button class="btn btn-primary m-2" data-bs-toggle='modal' data-bs-target='#exampleModal' onclick="openChangeAbonement({{abonement_item.abonement_id}})" style="float: left;">
                        {% translate "Change" %}
                    </button>
                    <form class="m-2" action="/abonements/delete" method="post" style="float: left;">
                        {% csrf_token %}
                        <input type="hidden" name="abonement_id" value="{{abonement_item.abonement_id}}">
                        <button class="btn btn-danger" type="submit">
                            {% translate "Delete" %}
                        </button>
                    </form>
                </td>
            </tr>
    {% endfor %}    
</tbody>
</table>  
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{% translate "Modal window header" %}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label={% translate "Close" %}></button>
        </div>
        <div class="modal-body">
            <div id="form_insert_client">
                <form method="post">
                    {% csrf_token %}
                    {{ add_client_form.non_field_errors }}
                    <div class="fieldWrapper">
                        {{ add_client_form.username.errors }}
                        <label for="{{ add_client_form.username.id_for_label }}">{% translate "Username:" %}</label>
                        {{ add_client_form.username }}
                    </div>
                    <div class="fieldWrapper">
                        {% if add_client_form.password.errors %}
                            {{ add_client_form.password.errors }}
                        {% endif %}
                        <label for="{{ add_client_form.password.id_for_label }}">{% translate "Password:" %}</label>
                        {{ add_client_form.password }}
                    </div>
                    <div class="overflow-visible">
                        {% if add_client_form.user_gender.errors %}
                            {{ add_client_form.user_gender.errors }}
                        {% endif %}
                        <label for="{{ add_client_form.user_gender.id_for_label }}">{% translate "Gender:" %}</label>
                        {{ add_client_form.user_gender }}
                    </div>
                    <div class="overflow-visible">
                        {% if add_client_form.user_last_name.errors %}
                            {{ add_client_form.user_last_name.errors }}
                        {% endif %}
                        <label for="{{ add_client_form.user_last_name.id_for_label }}">{% translate "Last name:" %}</label>
                        {{ add_client_form.user_last_name }}
                    </div>
                    <div class="overflow-visible">
                        {% if add_client_form.user_first_name.errors %}
                            {{ add_client_form.user_first_name.errors }}
                        {% endif %}
                        <label for="{{ add_client_form.user_first_name.id_for_label }}">{% translate "First name:" %}</label>
                        {{ add_client_form.user_first_name }}
                    </div>
                    <div class="overflow-visible">
                        {% if add_client_form.user_patronymic.errors %}
                            {{ add_client_form.user_patronymic.errors }}
                        {% endif %}
                        <label for="{{ add_client_form.user_patronymic.id_for_label }}">{% translate "Patronymic:" %}</label>
                        {{ add_client_form.user_patronymic }}
                    </div>
                    <div class="overflow-visible">
                        {% if add_client_form.user_email.errors %}
                            {{ add_client_form.user_email.errors }}
                        {% endif %}
                        <label for="{{ add_client_form.user_email.id_for_label }}">{% translate "E-mail:" %}</label>
                        {{ add_client_form.user_email }}
                    </div>
                    <div class="overflow-visible">
                        {% if add_client_form.user_phone.errors %}
                            {{ add_client_form.user_phone.errors }}
                        {% endif %}
                        <label for="{{ add_client_form.user_phone.id_for_label }}">{% translate "Phone number:" %}</label>
                        {{ add_client_form.user_phone }}
                    </div>
                    <div class="text-center m-3">
                        <button type="submit" class="btn btn-success" name="add_client">{% translate "Add" %}</button>
                    </div>
                </form>
            </div>
            <div class="d-none" id="form_change_client">
                <form method="post" action="/accounts/update">
                    {% csrf_token %}
                    <input type="hidden" name="user_id" id="upd_user_id">
                    {{ upd_client_form.non_field_errors }}
                    <div class="fieldWrapper">
                        {{ upd_client_form.username.errors }}
                        <label for="{{ upd_client_form.username.id_for_label }}">{% translate "Username:" %}</label>
                        {{ upd_client_form.username }}
                    </div>
                    <div class="overflow-visible">
                        {% if upd_client_form.user_gender.errors %}
                            {{ upd_client_form.user_gender.errors }}
                        {% endif %}
                        <label for="{{ upd_client_form.user_gender.id_for_label }}">{% translate "Gender:" %}</label>
                        {{ upd_client_form.user_gender }}
                    </div>
                    <div class="overflow-visible">
                        {% if upd_client_form.user_last_name.errors %}
                            {{ upd_client_form.user_last_name.errors }}
                        {% endif %}
                        <label for="{{ upd_client_form.user_last_name.id_for_label }}">{% translate "Last name:" %}</label>
                        {{ upd_client_form.user_last_name }}
                    </div>
                    <div class="overflow-visible">
                        {% if upd_client_form.user_first_name.errors %}
                            {{ upd_client_form.user_first_name.errors }}
                        {% endif %}
                        <label for="{{ upd_client_form.user_first_name.id_for_label }}">{% translate "First name:" %}</label>
                        {{ upd_client_form.user_first_name }}
                    </div>
                    <div class="overflow-visible">
                        {% if upd_client_form.user_patronymic.errors %}
                            {{ upd_client_form.user_patronymic.errors }}
                        {% endif %}
                        <label for="{{ upd_client_form.user_patronymic.id_for_label }}">{% translate "Patronymic:" %}</label>
                        {{ upd_client_form.user_patronymic }}
                    </div>
                    <div class="overflow-visible">
                        {% if upd_client_form.user_email.errors %}
                            {{ upd_client_form.user_email.errors }}
                        {% endif %}
                        <label for="{{ upd_client_form.user_email.id_for_label }}">{% translate "E-mail:" %}</label>
                        {{ upd_client_form.user_email }}
                    </div>
                    <div class="overflow-visible">
                        {% if upd_client_form.user_phone.errors %}
                            {{ upd_client_form.user_phone.errors }}
                        {% endif %}
                        <label for="{{ upd_client_form.user_phone.id_for_label }}">{% translate "Phone number:" %}</label>
                        {{ upd_client_form.user_phone }}
                    </div>
                    <div class="text-center m-3">
                        <button type="submit" class="btn btn-success">{% translate "Update" %}</button>
                        <button class="btn btn-danger" type="button" data-bs-dismiss="modal">{% translate "Cancel" %}</button>
                    </div>
                </form>
            </div>
            <div class="d-none" id="form_insert_abonement">
                <form method="post">
                    {% csrf_token %}
                    {{ add_abonement_form.non_field_errors }}
                    <div class="overflow-visible">
                        {% if add_abonement_form.abonement_type.errors %}
                            {{ add_abonement_form.abonement_type.errors }}
                        {% endif %}
                        <label for="{{ add_abonement_form.abonement_type.id_for_label }}">{% translate "Type:" %}</label>
                        {{ add_abonement_form.abonement_type }}
                    </div>
                    <div class="overflow-visible">
                        {% if add_abonement_form.opened.errors %}
                            {{ add_abonement_form.opened.errors }}
                        {% endif %}
                        <label for="{{ add_abonement_form.opened.id_for_label }}">{% translate "Opened:" %}</label>
                        {{ add_abonement_form.opened }}
                    </div>
                    <div class="overflow-visible">
                        {% if add_abonement_form.client.errors %}
                            {{ add_abonement_form.client.errors }}
                        {% endif %}
                        <label for="{{ add_abonement_form.client.id_for_label }}">{% translate "Client:" %}</label>
                        {{ add_abonement_form.client }}
                    </div>
                    <div class="text-center m-3">
                        <button type="submit" class="btn btn-success" name="add_abonement">{% translate "Add" %}</button>
                    </div>
                </form>
            </div>
            <div class="d-none" id="form_change_abonement">
                <form method="post" action="/abonements/update">
                    {% csrf_token %}
                    <input type="hidden" name="abonement_id" id="upd_abonement_id">
                    {{ upd_abonement_form.non_field_errors }}
                    <div class="overflow-visible">
                        {% if upd_abonement_form.abonement_type.errors %}
                            {{ upd_abonement_form.abonement_type.errors }}
                        {% endif %}
                        <label for="{{ upd_abonement_form.abonement_type.id_for_label }}">{% translate "Gender:" %}</label>
                        {{ upd_abonement_form.abonement_type }}
                    </div>
                    <div class="overflow-visible">
                        {% if upd_abonement_form.opened.errors %}
                            {{ upd_abonement_form.opened.errors }}
                        {% endif %}
                        <label for="{{ upd_abonement_form.opened.id_for_label }}">{% translate "Gender:" %}</label>
                        {{ upd_abonement_form.opened }}
                    </div>
                    <div class="overflow-visible">
                        {% if upd_abonement_form.expires.errors %}
                            {{ upd_abonement_form.expires.errors }}
                        {% endif %}
                        <label for="{{ upd_abonement_form.expires.id_for_label }}">{% translate "Expires:" %}</label>
                        {{ upd_abonement_form.expires }}
                    </div>
                    <div class="overflow-visible">
                        {% if upd_abonement_form.client.errors %}
                            {{ upd_abonement_form.client.errors }}
                        {% endif %}
                        <label for="{{ upd_abonement_form.client.id_for_label }}">{% translate "Client:" %}</label>
                        {{ upd_abonement_form.client }}
                        
                    </div>
                    <div class="text-center m-3">
                        <button type="submit" class="btn btn-success">{% translate "Update" %}</button>
                        <button class="btn btn-danger" type="button" data-bs-dismiss="modal">{% translate "Cancel" %}</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% translate "Close" %}</button>
        </div>
      </div>
    </div>
  </div>


    {% load static %}
    <script>

        function openInsertClient(){
            
            console.log("sdfg");
            $('#form_insert_client').removeClass('d-none') 
            if(!$('#form_change_client').hasClass('d-none')){
                $('#form_change_client').addClass('d-none')  
            }
            if(!$('#form_insert_abonement').hasClass('d-none')){
                $('#form_insert_abonement').addClass('d-none')  
            }
            if(!$('#form_change_abonement').hasClass('d-none')){
                $('#form_change_abonement').addClass('d-none')  
            }
        }

        function openChangeClient(id){

            console.log("fds");
            if(!$('#form_insert_client').hasClass('d-none')){
                $('#form_insert_client').addClass('d-none')  
            }
            $('#form_change_client').removeClass('d-none')  
            if(!$('#form_insert_abonement').hasClass('d-none')){
                $('#form_insert_abonement').addClass('d-none')  
            }
            if(!$('#form_change_abonement').hasClass('d-none')){
                $('#form_change_abonement').addClass('d-none')  
            }
            var accountData = $(this).serialize();
            $.ajax({
                type: 'GET',
                url: '/accounts/' + id,
                data: accountData,
                success: function(response) {
                    document.getElementById("upd_user_id").value = id;
                    document.getElementById("upd_username").value = response.username;
                    document.getElementById("upd_user_gender").value  = response.user_gender;
                    document.getElementById("upd_user_first_name").value  = response.user_first_name;
                    document.getElementById("upd_user_last_name").value  = response.user_last_name;
                    document.getElementById("upd_user_patronymic").value  = response.user_patronymic;
                    document.getElementById("upd_user_email").value  = response.user_email;
                    document.getElementById("upd_user_phone").value  = response.user_phone;
                },
                error: function(error) {
                    console.log(error);
                }
            });
        }
        function openInsertAbonement(){

            console.log("fd");
            if(!$('#form_insert_client').hasClass('d-none')){
                $('#form_insert_client').addClass('d-none')  
            }
            if(!$('#form_change_client').hasClass('d-none')){
                $('#form_change_client').addClass('d-none')  
            }
            $('#form_insert_abonement').removeClass('d-none')
            if(!$('#form_change_abonement').hasClass('d-none')){
                $('#form_change_abonement').addClass('d-none')  
            }
        }

        function openChangeAbonement(id){
            console.log("jk");
            if(!$('#form_insert_client').hasClass('d-none')){
                $('#form_insert_client').addClass('d-none')  
            }
            if(!$('#form_change_client').hasClass('d-none')){
                $('#form_change_client').addClass('d-none')  
            }
            if(!$('#form_insert_abonement').hasClass('d-none')){
                $('#form_insert_abonement').addClass('d-none')  
            }
            $('#form_change_abonement').removeClass('d-none') 
            var abonementData = $(this).serialize();
            $.ajax({
                type: 'GET',
                url: '/abonements/' + id,
                data: abonementData,
                success: function(response) {
                    let checkboxes = document.getElementById("upd_client").getElementsByTagName('input')
                    console.log(response);
                    console.log(checkboxes);
                    client = response.client;
                    for (let item of checkboxes) {
                        if (client == item.value) {
                            item.checked = true;
                            break;
                        }
                    }
                    document.getElementById("upd_abonement_id").value = id;
                    document.getElementById("upd_abonement_type").value = response.abonement_type;
                    document.getElementById("upd_opened").value  = response.opened;
                    document.getElementById("upd_expires").value  = response.expires;
                },
                error: function(error) {
                    console.log(error);
                }
            });
        }

    </script>
    <script src="{% url 'javascript-catalog' %}"></script>
    <script src="{% static 'js/basic.js' %}"></script>
    <script>
        let table2 = new DataTable('#clients', { language: {url : "https://cdn.datatables.net/plug-ins/1.10.15/i18n/Russian.json"} });
        let table1 = new DataTable('#abonements', { language: {url : "https://cdn.datatables.net/plug-ins/1.10.15/i18n/Russian.json"} });
    </script>
{% endif %}
{% endblock %}