{% extends "base_template.html" %}
{% block bodyblock %}
{% load static %}
{% load i18n %}
<h1 style="padding-left: 15rem;">{% translate "Training Schedule" %}</h1>

{% load user_tags %}
<style>
footer{
    position: fixed;
    bottom:0;
}
</style>
<div class="row d-flex justify-content-center">
    {% if user.is_authenticated and request.user|has_group:"trainer" %}
    <div class="card m-3 w-25">
            <form method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="fieldWrapper">
                    {{ form.training_type.errors }}
                    <label for="{{ form.training_type.id_for_label }}">{% translate "Training type:" %}</label>
                    {{ form.training_type }}
                </div>
                <div class="fieldWrapper">
                    {% if form.training_date.errors %}
                        {{ form.training_date.errors }}
                    {% endif %}
                    <label for="{{ form.training_date.id_for_label }}">{% translate "Training date:" %}</label>
                    {{ form.training_date }}
                </div>
                <div class="overflow-visible">
                    {% if form.clients.errors %}
                        {{ form.clients.errors }}
                    {% endif %}
                    <label for="{{ form.clients.id_for_label }}">{% translate "Clients:" %}</label>
                    {{ form.clients }}
                </div>
                <button type="submit" class="btn btn-primary">{% translate "Add Training Session" %}</button>
            </form>
        </div>
        {% endif %}
    <div class="card m-3 w-50">
        <div class="d-none">
            {% for session in training_serializer %}
                    <div class="training"
                         data-id="{{session.training_id}}"
                         data-type="{{session.training_type}}"
                         data-date="{{ session.training_date|date:'Y-m-d' }}"
                         data-train="{{ session.training_leader_name }}">
                    </div>
            {% endfor %}    
        </div>
        <div id="carouselExampleControls" class="carousel slide bg-secondary rounded" style="height: 385px;">
            <div class="carousel-inner">
                <div class="carousel-item" id="month-1"></div>
                <div class="carousel-item active" id="month"></div>
                <div class="carousel-item" id="month+1"></div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </button>
        </div>
    </div>
</div>
  
  <!-- Модальное окно -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{% translate "Modal window header" %}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label={% translate "Close" %}></button>
        </div>
        <div class="modal-body">
            <div id="training_window">
            ...
            </div>
            <div class="d-none" id="change_form_training">
                <form method="post" action="/schedule/update">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <input type="hidden" name="training_id">
                    <div class="fieldWrapper">
                        {{ form.training_type.errors }}
                        <label for="{{ form.training_type.id_for_label }}">{% translate "Training type:" %}</label>
                        {{ form.training_type }}
                    </div>
                    <div class="fieldWrapper">
                        {% if form.training_date.errors %}
                            {{ form.training_date.errors }}
                        {% endif %}
                        <label for="{{ form.training_date.id_for_label }}">{% translate "Training date:" %}</label>
                        {{ form.training_date }}
                    </div>
                    <div class="overflow-visible">
                        {% if form.clients.errors %}
                            {{ form.clients.errors }}
                        {% endif %}
                        <label for="{{ form.clients.id_for_label }}">{% translate "Clients:" %}</label>
                        {{ form.clients }}
                    </div>
                    <button type="submit" class="btn btn-primary">{% translate Update %}</button>
                    <button class="btn btn-primary" onclick="hideForm()">{% translate Cancel %}</button>
                </form>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% translate "Close" %}</button>
        </div>
      </div>
    </div>
  </div>

    <script>

        function checkTraning(date){
            let check = "false";
            $(".training").each(function(i, val){
                if((new Date(val.dataset['date'])).toDateString() == date.toDateString()){
                    check = "true";
                }
            });
            return check;
        }

        

        function displayCalendar(year, month, id) {
            let daysInMonth = new Date(year, month + 1, 0).getDate();

            let calendarHtml = "<div class='row'><div class='col-1'></div><div class='col'><p class='w-100 p-1 text-center h3 fw-bold text-white'>"+new Date(year, month, 1).toLocaleString("default",{month: "long"})+"</p><table class='w-100'>";
            calendarHtml += "<tr><th>Mon</th><th>Tue</th><th>Wed</th><th>Thu</th><th>Fri</th><th>Sat</th><th>Sun</th></tr>";

            let day = 1;
            for (let i = 0; i < 6; i++) {
                calendarHtml += "<tr>";
                for (let j = 0; j < 7; j++) {
                    if ((i === 0 && j < new Date(year, month, 1).getDay()) || day > daysInMonth) {
                        calendarHtml += "<td></td>";
                    } else {
                        let info = checkTraning(new Date(year, month, day))
                        if (info == "true"){
                            calendarHtml += "<td style='cursor:pointer;' class='bg-primary text-white' data-bs-toggle='modal' data-bs-target='#exampleModal' onclick='openTrainingWindow(new Date("+year+", "+month+", "+day+"))'>" + day + "</td>";
                        } else {
                            calendarHtml += "<td>" + day + "</td>";
                        }
                        day++;
                    }
                }
                calendarHtml += "</tr>";
                if (day > daysInMonth) {
                    break;
                }
            }

            calendarHtml += "</table></div><div class='col-1'></div></div>";
            document.getElementById(id).innerHTML = calendarHtml;
        }
        function deleteTraining(id) {
            fetch('/schedule/' + id,  {
              method: 'DELETE',
              body: JSON.stringify({
                "csrfmiddlewaretoken": '{{ csrf_token }}' }
              )
            })
        }

        function hideForm(){
            $('#change_form_training').addClass('d-none')
            $('#training_window').removeClass('d-none')
        }

        function showForm(){
            $('#training_window').addClass('d-none')
            $('#change_form_training').removeClass('d-none')
        }
        

        let today = new Date();
        let year = today.getFullYear();
        let month = today.getMonth();
        displayCalendar(year, month-1, "month-1");
        displayCalendar(year, month, "month");
        displayCalendar(year, month+1, "month+1");

    </script>
    {% if user.is_authenticated and request.user|has_group:"trainer" %}
    <script>
        function openTrainingWindow(date){
            let html = "";
            $("#exampleModalLabel").empty().append(gettext("Trainings") + " " +date.toDateString())
            $(".training").each(function(i, val){
                if((new Date(val.dataset['date'])).toDateString() == date.toDateString()){
                    html += "<div class=\"form-wrapper\">" + gettext("type:") + " " + val.dataset['type'] + " " +gettext("trainer:") + " " + val.dataset['train'] +
                        `<form action=\"/schedule/delete\" method=\"post\">
                        {% csrf_token %}
                        <input type=\"hidden\" name=\"training_id\" value=\"` + val.dataset['id'] + "\">" +
                        `<button type="submit" class="btn btn-danger">{% translate "Delete" %}</button>
                        </form><button  class="btn btn-secondary" onclick="showForm()">{% translate "Update" %}</button>/div><br>"`;
                }
            });
            $("#training_window").empty().append(html);
        }
    </script>
    {% elif user.is_authenticated and request.user|has_group:"client" %}
    <script>
        function openTrainingWindow(date){
            let html = "";
            $("#exampleModalLabel").empty().append(gettext("Trainings") + " " +date.toDateString())
            $(".training").each(function(i, val){
                if((new Date(val.dataset['date'])).toDateString() == date.toDateString()){
                    html += gettext("type:") + " " + val.dataset['type'] + " " +
                    gettext("trainer:") + " " + val.dataset['train'] + "<br>";
                }
            });
            $("#training_window").empty().append(html);
        }
    </script>
    {% endif %}
    <script src="{% url 'javascript-catalog' %}"></script>
{% endblock %}