{% extends "base_template.html" %}
{% block bodyblock %}
{% load static %}
{% load i18n %}
<h1>{% translate "Training Schedule" %}</h1>

{% load user_tags %}
<div class="row d-flex justify-content-center">
    <div class="card m-3 w-25">
        {% if user.is_authenticated and request.user|has_group:"trainer" %}
            <form method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="fieldWrapper">
                    {{ form.training_type.errors }}
                    <label for="{{ form.training_type.id_for_label }}">{% translate "Training type:" %}</label>
                    {{ form.training_type }}
                </div>
                <div class="fieldWrapper">
                    {{ form.training_date.errors }}
                    <label for="{{ form.training_date.id_for_label }}">{% translate "Training date:" %}</label>
                    {{ form.training_date }}
                </div>
                <div class="fieldWrapper">
                    {{ form.training_leader.errors }}
                    <label for="{{ form.training_leader.id_for_label }}">{% translate "Leader:" %}</label>
                    {{ form.training_leader }}
                </div>
                <button type="submit">{% translate "Add Training Session" %}</button>
            </form>
        {% endif %}
    </div>
    <div class="card m-3 w-50">
        <div class="d-none">
            {% for session in training_sessions %}
                    <div class="traning"
                         data-type="{{session.training_type}}"
                         data-date="{{ session.training_date|date:'m/d/Y' }}"
                         data-train="{{ session.training_leader.get_full_name }}">
                    </div>
            {% endfor %}    
        </div>
        <div id="carouselExampleControls" class="carousel slide bg-secondary rounded" data-bs-ride="carousel" style="height: 385px;">
            <div class="carousel-inner">
                <div class="carousel-item" id="month-1"></div>
                <div class="carousel-item active" id="month"></div>
                <div class="carousel-item" id="month+1"></div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </button>
        </div>
    </div>
</div>



    <script>

        function checkTraning(date){
            let check = "false";
            $(".traning").each(function(i, val){
                console.log(val.dataset['date']);
                console.log(date.toLocaleDateString());
                if(val.dataset['date'] == date.toLocaleDateString()){
                    check = [val.dataset['type'], val.dataset['train']];
                }
            });
            return check;
        }

        function displayCalendar(year, month, id) {
            let daysInMonth = new Date(year, month + 1, 0).getDate();

            let calendarHtml = "<div class='row'><div class='col-1'></div><div class='col'><p class='w-100 p-1 text-center h3 fw-bold text-white'>"+new Date(year, month, 1).toLocaleString("default",{month: "long"})+"</p><table class='w-100'>";
            calendarHtml += "<tr><th>Mon</th><th>Tue</th><th>Wed</th><th>Thu</th><th>Fri</th><th>Sat</th><th>Sun</th></tr>";

            let day = 1;
            for (let i = 0; i < 6; i++) {
                calendarHtml += "<tr>";
                for (let j = 0; j < 7; j++) {
                    if ((i === 0 && j < new Date(year, month, 1).getDay()) || day > daysInMonth) {
                        calendarHtml += "<td></td>";
                    } else {
                        let info = checkTraning(new Date(year, month, day))
                        if (info[0] == "individual"){
                            calendarHtml += "<td class='bg-success text-white'>" + day + "</td>";
                        } else if(info[0] == "group"){
                            calendarHtml += "<td class='bg-primary text-white'>" + day + "</td>";
                        } else {
                            calendarHtml += "<td>" + day + "</td>";
                        }
                        day++;
                    }
                }
                calendarHtml += "</tr>";
                if (day > daysInMonth) {
                    break;
                }
            }

            calendarHtml += "</table></div><div class='col-1'></div></div>";
            document.getElementById(id).innerHTML = calendarHtml;
        }

        

        let today = new Date();
        let year = today.getFullYear();
        let month = today.getMonth();
        displayCalendar(year, month-1, "month-1");
        displayCalendar(year, month, "month");
        displayCalendar(year, month+1, "month+1");

    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
{% endblock %}